.navbar{
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar button {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

div a #space1{
               flex: 1;
           }
div a #space2{
               flex: 2;
           }

.active{
               color: #0B84ED!important;
           }

.tooltip{
               position: relative;
           }
.tooltip::after{
               content: attr(data-tooltip);
               height: 30px;
               background: rgba(0,0,0,0.4);
               color: #fff;
               font-size: 1rem;
               text-align: center;
               position: absolute;
               bottom: -150%;
               padding: 5px 12px;
               line-height: 30px;
               border-radius: 3px;
               opacity: 0;
               transition: .3s;
               pointer-events: none;
               user-select: none;
           }
.tooltip:hover::after{
               opacity: 1;
           }
@media  screen and (max-width: 700px){
               navbar #space1,
               navbar #space2{
                   display: none;
               }
               nav ul{
                   min-width: 600px;
                   padding: 8px 12px;
                 justify-content: space-between;
               }
               :root{
                   --btn-width-100: 60px;
               }
           }
