@font-face {
  font-family: 'Neue Haas Grotesk';
  src:  url('fonts/Neue Haas Grotesk/Neue Haas Grotesk.eot'),
        url('fonts/Neue Haas Grotesk/Neue Haas Grotesk.woff2') format("woff2"),
        url('fonts/Neue Haas Grotesk/Neue Haas Grotesk.woff') format("woff"),
        url('fonts/Neue Haas Grotesk/Neue Haas Grotesk.ttf') format("truetype"),
        url('fonts/Neue Haas Grotesk/Neue Haas Grotesk.svg') format("svg");
      }

html {
  background-image: url("Imgs/background-1.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: -50px;
}

head {

}

body{
  overflow: hidden;
}

footer {

}

@media screen and (max-width: 600px) {
  .nav {
    height: 100%;
    width: 100%;
    position: fixed;
    padding-top: 30px;
    transition: ease all .5s; }
    .nav a {
    font-size: 30px;
    transition: ease all .5s;
    }
    .Rectanlge-About {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 40%;
      left: 44%;
      transform: translate(-40%, -40%);
    }
    .Rectanlge-block-About{
      position: relative;
      width: 450px;
      height: 500px;
      z-index: 1;
      padding-right: 50px;
    }
    .Rectanlge-block-About:before {
      content: "";
      position: absolute;
      width: 450px;
      height: 500px;
      transform: skew(0deg);
      background: #FAF9F6;
    }
}

.rhombus-block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rhombus-block {
  position: relative;
  width: 200px;
  height: 100px;
  z-index: 1;
  padding-right: 50px;
}

.rhombus-block:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 70px;
  transform: skew(-20deg);
  background: #CC3333;
}

.rhombus-content {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2.2em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.rhombus-content:hover {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFF00;
  font-size: 2.25em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}

.rhombus-About {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-70%, -10%);
}

.rhombus-block-About{
  position: relative;
  width: 250px;
  height: 100px;
  z-index: 1;
  padding-right: 50px;
}
.rhombus-block-About:before {
  content: "";
  position: absolute;
  width: 250px;
  height: 50px;
  transform: skew(-20deg);
  background: #CC3333;
}
.rhombus-content-About {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2.2em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}

.rhombus-backbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-30%, -10%);
}
.rhombus-block-backbutton{
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 1;
  padding-right: 30px;
}
.rhombus-block-backbutton:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 50px;
  transform: skew(-20deg);
  background: #CC3333;
}
.rhombus-content-backbutton {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2.2em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.rhombus-content-backbutton:hover {
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFF00;
  font-size: 2.2em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}
.backbutton {
  font-size: 60px;
}

.Rectanlge-About {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-40%, -40%);
}
.Rectanlge-block-About{
  position: relative;
  width: 600px;
  height: 700px;
  z-index: 1;
  padding-right: 100px;
}
.Rectanlge-block-About:before {
  content: "";
  position: absolute;
  width: 600px;
  height: 700px;
  transform: skew(0deg);
  background: #FAF9F6;
}
.Rectanlge-content-About {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: black;
  font-size: 1.2em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.Rectanlge-content-Contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: black;
  font-size: 1.2em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}

li {
  list-style: none;
}
.Email2 {
  background-color: #f8ff00;
}
.Email2:hover {
  cursor: pointer;
}
.Twitter2 {
  background-color: #00ffd9;
}
.Twitter2:hover {
  cursor: pointer;
}
.Facebook2 {
  background-color: #10ff00;
}
.Facebook2:hover {
  cursor: pointer;
}
.Instagram2 {
  background-color: #E23CB0;
  color: white;
}
.Instagram2:hover {
  cursor: pointer;
}
.ComingSoon2 {
  background-color: #E2C13C;
}
