html {
  background-color: #FAF9F6;
}

head {

}

body{

}

footer {

}

/* MENUS */
/* Main Page Menu */
.header-menu {
  position: absolute;
  display: block;
  width: 90%;
  height: 15%;
}
.cornerlogo-block {
  display: grid;
  margin-top: 1.5em;
  margin-left: 2em;
  width: 90px;
  height: 10px;
}
.cornerlogo-content {
  top: 0%;
  left: 0%;
  text-align: center;
  color: black;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.cornerlogo-content:hover {
  cursor: pointer;
}
.cornerlogo-subcontent {
  text-align: center;
  color: black;
  font-size: 0.8em;
  letter-spacing: 0;
  font-family: 'Futura', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.clock{
  margin-top: -0.25em;
  text-align: center;
}
.clock .display{
  font-size: 0.8em;
  color: black;
  letter-spacing: 0.15em;
  font-family: 'Futura', sans-serif;
}

/*HOME*/
.index-container {
  display: flex;
  position: fixed;
  margin-top: 1em;
  left:60%;
}
.index-block {
  position: relative;
  width: 90px;
  height: 40px;
  z-index: 1;
  padding-right: 20px;
}
.index-block:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 25px;
  transform: skew(0deg);
  background: #FAF9F6;
}
.index-content {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.index-content:hover {
  color: red;
}
/*ARCHIVE*/
.index-block {
  position: relative;
  width: 90px;
  height: 40px;
  z-index: 1;
  padding-right: 20px;
}
.index-block:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 25px;
  transform: skew(0deg);
  background: #FAF9F6;
}
.index-content {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.index-content:hover {
  color: red;
}
/*ABOUT*/
.index-block {
  position: relative;
  width: 90px;
  height: 40px;
  z-index: 1;
  padding-right: 20px;
}
.index-block:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 25px;
  transform: skew(0deg);
  background: #FAF9F6;
}
.index-content {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.index-content:hover {
  color: red;
}
/*MERCH*/
.index-block_merch {
  position: relative;
  width: 90px;
  height: 40px;
  z-index: 1;
  padding-right: 20px;
}
.index-block_merch:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 25px;
  transform: skew(0deg);
  background: #FAF9F6;
}
.index-content_merch {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.index-content_merch:hover {
  color: red;
}
/*CONTACT*/
.index-block_contact {
  position: relative;
  width: 90px;
  height: 40px;
  z-index: 1;
  padding-right: 20px;
}
.index-block_contact:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 25px;
  transform: skew(0deg);
  background: #FAF9F6;
}
.index-content_contact {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.index-content_contact:hover {
  color: red;
}
@media only screen and (max-width: 1300px) {
  .index-block_contact {
    top: 2.5em;
    right: 21.7em;
  }
}
@media only screen and (max-width: 1000px) {
  .index-block_contact {
    top: 2.5em;
    right: 16.7em;
  }
  .index-block_merch {
    top: 2.5em;
    right: 16.8em;
  }
}

/*DROPDOWN MENU*/
.dropdown-menu {
  margin-left: 80%;
}
.dropbtn {
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: red;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left:35%;
  width: 70%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  padding-left: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: black;
  font-size: 1em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: red;}
.show {display: block;}

@media only screen and (min-width: 740px) {
  .dropdown-menu {
    display: none;
  }
}
@media only screen and (max-width: 740px) {
  .index-container {
    display: none;
  }
}

/* FEATURED MENU */
* {
  box-sizing: border-box;
}
.featured-posts {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10em;
  padding-right: 5em;
  padding-left: 5em;
}
.featured-container {
  display: block;
  position: absolute;
  margin-top: 10em;
}
.featured-block {
  display: grid;
  position: relative;
  width: 95%;
  height: 100%;
  z-index: 1;
  padding: 1px;
}
.featured-content {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 90%;
  text-align: left;
  color: black;
  font-size: 1.2em;
  font-family: 'Futura', sans-serif;
  font-weight: bolder;
  text-decoration: underline;
}
.featured-content-Post-Time {
  position: relative;
  padding-top: 60px;
  left: 10px;
  text-align: left;
  color: black;
  font-size: 0.7em;
  font-family: 'Futura', sans-serif;
}
.featured-content-Post-Desc {
  position: absolute;
  top: 18%;
  left: 4%;
  text-align: justify;
  color: black;
  font-size: 1em;
  font-family: 'Futura', sans-serif;
}

@media screen and (max-width: 992px) {
  .featured-posts {
    padding-right: 2em;
    padding-left: 2em;
  }
  .column {
    flex: 50%;
    height: 10%;
  }
}
@media screen and (max-width: 600px) {
  .featured-posts {
    flex-direction: column;
    padding-right: 2em;
    padding-left: 2em;
  }
}
@media only screen and (max-width: 1300px) {

}

/* FOOTER */
.footer-COPYRIGHT {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 0.7em;
  font-family: 'Futura', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.footer-container {
  display: flex;
  position: fixed;
  top: 89%;
  left:65%;
}
.footer-block {
  position: relative;
  width: 170px;
  height: 40px;
  z-index: 1;
  padding-left: 30px;
}
.footer-block:before {
  content: "";
  position: absolute;
  width: 170px;
  height: 25px;
  transform: skew(0deg);
}
.footer-content {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: 'Futura', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}
.footer-content:hover {
  color: red;
}

@media only screen and (max-width: 1300px) {
  .footer-container {
    display: grid;
    position: absolute;
    top: 85%;
    left: 53%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 700px) {
  .footer-container {
    display: grid;
    position: absolute;
    top: 85%;
    left: 57%;
    transform: translate(-50%, -50%);
  }
}

title {
  display: block;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 90%;
  text-align: left;
  color: black;
  font-size: 1.2em;
  font-family: 'Futura', sans-serif;
  font-weight: bolder;
}
/* BLOG POSTS */
.columnBlog {
  flex: auto;
  padding: 5px;
  height: 600px;
  background-color:;
}
